/*************************************************************************************************
This is grayscale CSS file that contains Gray Scale theme style used in Folio Zee Unique and Creative HTML5 Template
**************************************************************************************************/
/**       1- General                                                   **/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

::selection {
	background: #333333; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #333333; /* Firefox */
	color: #FFFFFF;
}

body {
    color: #777777;
    background: #F2F2F2;
}
body #sb-site{
	background: #F2F2F2;
}
a {
    color: #333333;
}
	a:hover, a:focus {
		color: #888;
	}
code {
    background-color: #F9F9F9;
    border: 1px solid #E9E9E9;
    color: #222222;
}
.bg_grey{
	background-color: #E6E6E6;
}
/*******************************************************************/
/********************* Global Elements Css Starts ******************/
/* to highlight text */
.highlight{
	color: #333333;
}

/* .folio-link-url */
	.folio-link-url:hover{
		color: #333333;
	}
	.folio-link-url i{
		color: #333333;
	}
	
/* Button CSS starts */
.button, a.button{
	background-color: #333333;
	border: 1px solid #333333;
	color: #FFF;
}
	.button:hover, a.button:hover{
		background-color: transparent;
		color: #333333;
	}

input[type="submit"]{
	background-color: #333333;
	border: 1px solid #333333;
	color: #FFF;
}
	input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus{
		color: #333333;
		background-color: transparent;
	}
	/* .toggle_section_button */
	.circle_button{
		background: #f2f2f2;
	}
	.circle_button:active, .circle_button:focus{
		color: #333333;
	}
	.circle_button:hover, .circle_button:hover i{
		color: #333333;
	}
	
	/* .toggle_section_button */
/* Button CSS ends */

/* Form Elements CSS starts */
/********************* Global Elements Css ends ******************/
/*******************************************************************/

/**       2- Folio Zee Curve Shape                                     **/
/* Curve starts */
/* .zee_d_curve_container double curves top and bottom starts */
	.zee_d_curve_container:before{
		background: #f2f2f2;
	}
	.zee_d_curve_container:after{
		background: #f2f2f2;
	}

.zee_curve_container .zee_curve_left{
    border-left: 610px solid #f2f2f2;
}
	.zee_curve_container .zee_curve_left:before{
		border-left: 610px solid #333333;
	}
.zee_curve_container .zee_curve_right{
    border-right: 610px solid #F2F2F2;
}
	.zee_curve_container .zee_curve_right:before{
		border-right: 610px solid #333333;
	}

	/* For Grey Color DOUBLE CURVES SHAPE */	
	.zee_curve_container.bottom_grey:after, .zee_curve_container.top_grey:before{
		background: #e6e6e6;
	}
		.zee_curve_container.top_grey .zee_curve_left{ /* only for double curves */
			border-left: 610px solid #e6e6e6;
		}
		.zee_curve_container.bottom_grey .zee_curve_right{ /* only for double curves */
			border-right: 610px solid #e6e6e6;
		}
		
/* .zee_t_curve_container double curves top and bottom starts */	
	.zee_t_curve_container:before{
		background: #f2f2f2;
	}
	.zee_b_curve_container:after{
		background: #f2f2f2;
	}
	/* For Grey Curve Color top and buttom curves, one at a time */	
		.zee_curve_container.top_c_grey .zee_curve_left:before{
			border-left: 610px solid #e6e6e6;
		}

		.zee_curve_container.bottom_c_grey .zee_curve_right:before{
			border-right: 610px solid #e6e6e6;
		}
/* Curve ends */

	/* .zee_curve_container blockquote starts */
	blockquote.home_quote strong{
		color: #a7a7a7;
	}
	/* .zee_curve_container blockquote ends */
			.video_holder .play-button:before{
				color: #FFFFFF;
			}
		/* .video_holder .play-button ends */
		
	/* .video_holder ends */
	
	/**		2.2- Curve Testimonial slider		**/
	/* .testi_holder starts */
	.testi_holder .testi_single .testi_text .highlight{
		color: #FFFFFF;
	}
	
	/**		2.3- Statistics		**/
	/* .stats_single starts */
		.stats_single .icon_holder{
			text-align: center;
			margin-bottom: 11px;
		}
		.stats_single .stats_icon{
			border-color: #333333;
		}
		.folio_stats .stats_single .stats_icon{
			border-color: #FFFFFF;
		}
			.stats_single:hover .stats_icon{
				background-color: #333333;
				border-color: #333333 !important;
			}
			.folio_stats .stats_single:hover .stats_icon{
				background-color: #FFFFFF;
				border-color: #FFFFFF;
			}
		
		.stats_single .stats_icon i{
			color: #333333;
		}
			.stats_single:hover .stats_icon i{
				color: #FFFFFF;
			}
			.folio_stats .stats_single:hover .stats_icon i{
				color: #333333;
			}
	/* .stats_single ends */
	
/**       3- Navigation Primary (Sticky Navigation)                   **/
/* menu-bar starts */
/* menu-bar starts from */

	.menu-bar .main-nav .back_top a{
		color: rgba(255, 255, 255, 0.5);
	}
	.menu-bar .main-nav li > a:hover,
	.menu-bar .main-nav ul li:hover > a, .menu-bar .main-nav ul li.current a {
		color: #FFFFFF;
	}
	.menu-bar .main-nav  ul > li > ul {
		border-top: 1px solid #FFFFFF;
	}
	.menu-bar .main-nav  ul > li > ul li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	/* menu-bar Dropdown Ends */
	
/* menu-bar ends */

/**       5- Header                                                  **/
	.text_banner_holder .heading_wrap h2 .highlight{
		color: #333333;
	}
/**       6- Homepage Sections							          	  **/
/* Section Homepage General CSS starts */
	.section_container .hgroup h2{
		color: #555555;
	}
/* Section Homepage General CSS ends */

/**		7- About Section		**/
.about_content_holder h3{
	color: #555555;
}
.about_single i{
	color: #333333;
}
.about_single h4{
	color: #555555;
}

/**		8- Feature Portfolio Section		**/
	.project .featured_image .vjs-default-skin div.vjs-big-play-button span:before{
		color: #F4F4F4;
	}
/* Project Starts */
		.project .project_detail .project_text{
			border-bottom: 1px solid #aeaeae;
		}
			.project .project_detail .project_text .hgroup h2{
				color: #555555;
			}
			.project .project_detail .project_text .hgroup h3{
				color: #555555;
			}
		.project .project_detail .project_meta {
			border-bottom: 1px solid #aeaeae;
		}
			.project .project_detail .project_meta span{
				color: #555555;
			}
/* Project Ends */
/* portfolio_listing starts */
	.portfolio_listing .single_portfolio.greyscale img{
		opacity: 0.4;
	}
	.portfolio_listing .single_portfolio.greyscale:hover img, .portfolio_listing .single_portfolio.greyscale.active img{
		opacity: 1;
	}
	.portfolio_listing .single_portfolio:hover:after, .portfolio_listing .single_portfolio.active:after{
		background: #FFFFFF;
	}
		.portfolio_listing .owl-controls .owl-buttons .owl-prev, .portfolio_listing .owl-controls .owl-buttons .owl-next{
			border: 2px solid #FFFFFF;
		}
/* portfolio_listing ends */

/**		9- Services Section		**/
/* .service_single starts */
		.service_single:hover .icon_holder .icon_shape{
			background-color: #333333;
		}
		.service_single .icon_holder .icon_shape{
			background-color: #F2F2F2;
			border: 1px solid #333333;
		}
			.service_single .icon_holder .icon_shape i{
				color: #333333;
			}
		.service_single .service_right h4{
			color: #555555;
		}
/* .service_single ends */
	
/**		10- Simple text Section		**/
/* .simple_text starts */
		.simple_text .text_holder h4{
			color: #555555;
		}
/* .simple_text ends */

/**		11- Portfolio Section		**/
/* work_nav starts */
	.work_nav ul li a:hover, .work_nav ul li.current a{
		color: #333333;
	}
/* work_nav ends */

/* work_listing starts */
	.view .links a{
		color: #555555;
	}
		.view .links a.info-link:before, .view .links a.info-link:after{
			background: #555555;
		}
	.view .work_detail{
		color: #555555;
	}
	.view .work_detail h3{
		color: #555555;
	}
	.view .work_detail p{
		color: #555555;
	}
	.view-second .mask {
		background-color: rgba(255,255,255, 0.92);
	}
/* work_listing ends */

/**		12- Team Slider Section		**/
/* .team_carousel starts */
		.member_basic{
			background: rgba(242, 242, 242, 0.9);
		}
			.member_basic .member_name{
				color: #555555;
			}
			.member_basic .member_designation{
				color: #555555;
			}
/* .team_carousel ends */

/* team_slider starts */
		/* .team_stats starts */
		.team_slider .team_stats .stats_bar_holder{
			background: #FFFFFF;
		}
		.team_slider .team_stats .stats_bar{
			background: #333333;
		}
		.team_slider .team_stats .stats_bar:after{
			border-top: 4px solid #333333;
		}
		.team_slider .team_stats .stats_title{
			color: #555555;
		}
		/* .team_stats ends */
		
		/* team_social starts */
			.team_social > li{
				color: #555555;
			}
			.team_social > li:after{
				background: #DDDDDD;
			}
			.team_social > li a:hover{
				color: #333333;
			}
		/* team_social ends */
		
		/* team_description starts */
		.team_description h3{
			color: #555555;
		}
		/* team_description ends */
/* team_slider ends */

/**		13- Client Section			**/
	/* .clients_holder starts */
	.clients_holder .client_single:hover {
		opacity: 1;
		filter: url('../js/filters.svg#grayscale'); /* Firefox 3.5+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
	}
	
	/* .clients_holder ends */
	
/**		14- Home Blog Section		**/
/* .hm_blog_post starts */
			.post .featured_image.video_post .play-button:before{
				color: #FFFFFF;
			}
			
			/* quote_post Starts */
			.quote_post .quote{
				background: #e3e3e3;/*rgba(239, 239, 239, 1);*/
			}
			.quote_post .quote:before{
				color: #999999;
			}
			.quote_post .quote p{
				color: #333333;
			}
			/* quote_post Ends */
			
		.post .post_content .date_holder{
			border-top: 12px solid #FFFFFF;
		}
			.post .post_content .date_holder .date{
				background-color: #333333;
			}
					.post .post_content .meta_holder .title_holder .post_title a{
						color: #555555;
					}
				.post .post_content .meta_holder .title_holder .post_title a:hover{
					color: #333333;
				}
			.post .post_content .meta_holder .post_meta{
				color: #999999;
			}
			.post .post_content .meta_holder .post_meta a{
				color: #555555;
			}
				.post .post_content .meta_holder .post_meta a:hover{
					color: #333333;
				}
/* .hm_blog_post ends */

/**		15- Contact Section		**/
	.contact_info .fa{
		color: #333333;
	}
	.contact_info h4{
		color: #555555;
	}
/**		16- Footer Section (map included)		**/
/* Footer Starts*/
/* .google_map starts */
.map_mask{
	background-color: #333333;
}
/* .google_map ends */
footer{
	background: #333333;
}
/* Footer Ends*/

/**      17- Content area inner Pages    							  **/
/* content_bar Styling Starts*/ /* Content_bar styling includes for both blog and inner pages */
	/* folio_headings starts */
	.content_bar h2.folio_h2{
		color: #333333;
	}
	/* folio_headings ends */

.content_bar h1, .content_bar .h1, .content_bar h1 a, .content_bar .h1 a,  
.content_bar h2, .content_bar .h2, .content_bar h2 a, .content_bar .h2 a,
.content_bar h3, .content_bar .h3, .content_bar h3 a, .content_bar .h3 a,
.content_bar h4, .content_bar .h4, .content_bar h4 a, .content_bar .h4 a, 
.content_bar h5, .content_bar .h5, .content_bar h5 a, .content_bar .h5 a,
.content_bar h6, .content_bar .h6, .content_bar h6 a, .content_bar .h6 a{
	color: #555555;
}
	.content_bar h1 span, .content_bar .h1 span, .content_bar h1 a span, .content_bar .h1 a span,
	.content_bar h2 span, .content_bar .h2 span, .content_bar h2 a span, .content_bar .h2 a span,
	.content_bar h3 span, .content_bar .h3 span, .content_bar h3 a span, .content_bar .h3 a span,
	.content_bar h4 span, .content_bar .h4 span, .content_bar h4 a span, .content_bar .h4 a span,
	.content_bar h5 span, .content_bar .h5 span, .content_bar h5 a span, .content_bar .h5 a span,
	.content_bar h6 span, .content_bar .h6 span, .content_bar h6 a span, .content_bar .h6 a span{
		color: #333333;
	}
.content_bar h1 a:hover, .content_bar h2 a:hover, .content_bar h3 a:hover, .content_bar h4 a:hover, .content_bar h5 a:hover, .content_bar h6 a:hover{
	color: #333333;
}
	.content_bar p a{
		color: #333333;
	}
	.content_bar pre {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #DDDDDD;
	}	
	.content_bar ul li:before{
		color: #333333;
	}
/* content_bar Styling Ends*/

/**		18- Internal Section (includes headings group on top)		**/
/* .internal_header Starts */
	.hgroup_4 h2{
		color: #999999;
	}
		.hgroup_4 h2 span{
			color: #333333;
		}
/* .internal_header Ends */

/**		19- Inner Blog		**/
/* .blog_post Starts */
			.blog_listing .meta_holder .comments a{
				color: #999999;
			}
			.blog_listing .meta_holder .comments i{
				color: #333333;
			}
			.blog_listing .meta_holder .comments span{
				color: #555555;
			}
			.blog_listing .meta_holder .comments a:hover{
				color: #333333;
			}
	/* video js starts */
	.blog_listing .post .featured_image .vjs-default-skin div.vjs-big-play-button span:before{
		color: #FFFFFF;
	}
	/* video js starts */
	
	/* social_media starts */
	.social_media{
		background-color: #ededed;
	}
	.social_media > span{
		color: #333333;
	}
		.social_media > ul > li a:hover{
			color: #333333;
		}
	/* social_media starts */
/* .blog_post Ends */

/* pagination start */ 
	 /*.wp-pagenavi & wp_corenavi starts*/
	.folio_navigation  .wp-pagenavi a, .folio_navigation  .wp_corenavi a.page-numbers {
		color: #bbbbbb;
	}
	.wp-pagenavi a:hover, .folio_navigation  .wp_corenavi a:hover{		
		background: #ebeaea;
		color: #555555;
	}
	.wp-pagenavi span.current, .folio_navigation  .wp_corenavi span.current {
		background: #333333;
	}
	/*.wp-pagenavi  & wp_corenavi starts*/
	
	/* .page_links starts */
	.page_links > a {
		color: #bbbbbb;
	}
	.page_links > a:hover{		
		background: #ebeaea;
		color: #555555;
	}
	.page_links > span{
		background: #333333;
	}
	.page_links .page-links-title{
		background: none;
		color: inherit;
	}
	/* .page_links ends */
/* pagination end */
/* .navigation Starts (Single post) */
	.page_nav {
		border-top: 1px solid #dcdcdc;
	}
		/* .navigation (for Project single page) */
		.page_nav a:hover,.page_nav a:hover,.page_nav a:focus{
			background: #333333;
			color: #FFFFFF;
		}
/* .navigation Ends (Single post) */

/**		20- Sidebar and Widgets		**/
/* side_bar Starts*/
.widget-title {
	color: #555555;
}
	/* widget_recent_entries Starts*/
	.widget_recent_entries ul li a {
		color: #444444;
	}
	
	.widget_recent_entries ul li a:hover {
		color: #333333;
	}
	
	.post-date {
		color: #333333;
	}
	
	/* widget_recent_entries Ends*/
	
	
	/* widget_categories Starts*/
	.widget_categories ul li a {
		color: #333333;
	}
	/* widget_categories Ends*/
	
	/* widget_text Starts*/
	.textwidget strong {
		color: #333333;
		font-size: 15px;
	}
	/* widget_text Ends*/
	
	/* widget tagcloud starts */
	.tagcloud a{
		background: #e6e6e6;
	}
	.tagcloud a:hover {
		background: #333333;
	}
	/* widget tagcloud ends */
	
	/* widget_kraft_slider starts */
				.widget_kraft_slider .bx-wrapper .bx-controls-direction a:hover{
					color: #333333;
				}

		.widget_kraft_slider .bx-wrapper .bxslider .slider_caption h3 a{
			color: #333333;
		}
		
		.widget_kraft_slider .bx-wrapper .bxslider .slider_caption p {
			color: #555555;
		}
	/* widget_kraft_slider ends */
	
	/* widget_search, widget_kraft_search Starts*/
		#searchsubmit:hover{
			border-color: #333333;
			background-color: #333333;
		}
	/* widget_search, widget_kraft_search Ends*/
/* sidebar Ends*/			

/**      21- Blog Comments Section                  					  **/
/* comments_section Starts */
#comments_section h3 {
	color: #555555;
}
 
 #comments_section h3 i{
    color: #555555;
 }
 #comments_section h3 span{
	 color: #333333;
 }
	#comments .commentlist li cite.fn, #comments .commentlist li cite.fn a {
		color: #555555;
	}
	#comments .commentlist li time a {
		color: #777777;
	}
	#comments .clearing-container .comment_block{
		color: #777777;
	}
		#comments .commentlist a.comment-reply-link:hover{
			color: #333333;
		}
	#comments .commentlist a.comment-reply-link i{
		color: #333333;
	}
		#comments_section #commentform .button:hover, #comments_section #commentform .button:active, #comments_section #commentform .button:focus{
			color: #333333;
		}
/* comments_section Ends */

/**		22- Shortcodes and Styling		**/
/* .button.button-outline starts */
.button.button-outline, a.button.button-outline{
	background-color: transparent;
	color: #333333;
}
/* .button.button-outline ends */


/**      22.3- Tabs Styles			                 				  **/	
/*-----------------------------------------------------------------------------------*/
/* Tab Styles
/*-----------------------------------------------------------------------------------*/
.folio-tabs .folio-nav li {
	background: #ededed;
}

.folio-tabs .folio-nav .ui-tabs-selected, .folio-tabs .folio-nav .ui-tabs-active{
	background: #FFFFFF;
}
.folio-tabs .folio-nav li a {
    color: #555555;
}
.folio-tabs .folio-nav .ui-tabs-selected a,
.folio-tabs .folio-nav .ui-tabs-active a {
	color: #333333;
}
/**      22.4- Toggles Styles			                 				  **/
/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/
.folio-toggle .folio-toggle-title {
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;
	color: #555555;
}
.folio-toggle .ui-accordion-header-active, .folio-toggle .ui-state-active{
	color: #e3e3e3;
	background-color: #333333;
	border-color: #333333;
}

/**      22.4- Accordion Styles			                 				            **/
/*-----------------------------------------------------------------------------------*/
/*	Accordion Styles
/*-----------------------------------------------------------------------------------*/
.folio-accordion .folio-accordion-title{
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;
	color: #555555;
}
	.folio-accordion .folio-accordion-title a{
		color: #555555;
	}
.folio-accordion .ui-accordion-header-active, .folio-accordion .ui-state-active{
	background-color: #333333;
	border-color: #333333;
	color: #e3e3e3;
}
	.folio-accordion .ui-accordion-header-active, .folio-accordion .ui-state-active a{
		color: #e3e3e3;
	}

/**      22.5- Pricing Tables Styles			                 				  **/
/*-----------------------------------------------------------------------------------*/
/* Folio Pricing Table Styles		
/*-----------------------------------------------------------------------------------*/
.folio_pricing_single{
	background: #e3e3e3;
}
.folio_pricing_single.favourite_pricing .price_title{
	background: #333333;
}
	.folio_pricing_single .price_title:after{
		background: #e3e3e3;
	}

/**      22.6- Quotes Styles			                 				  **/
/*-----------------------------------------------------------------------------------*/
/*	Quotes Styles
/*-----------------------------------------------------------------------------------*/

	/* quote_styling Starts */
	
	/* blockqoute */ 
	.content_bar .quote_4, .content_bar .quote_5{
		background: #e3e3e3;/*rgba(239, 239, 239, 1);*/
	}
	.content_bar .quote_1{
		border-left: 3px solid #333333;
	}
	.content_bar .quote_2, .content_bar .quote_3 {
		border-left: 3px solid  #333333;
	}
	
	/* quote_styling Ends */


/**		23- 404 section		**/
/* .section_404 starts */
			.section_404 .hgroup .heading_left h1 {
				color: #e2e2e2;
			}
			.section_404 .hgroup .heading_left h1:after{
				background: #333333;
			}
/* .section_404 ends */

/* Responsive slides */
.transparent-btns_tabs .transparent-btns_here a, .transparent-btns_tabs a:hover{
	background: #333333;
	border: 2px solid #333333;
}

.centered-btns_here a:before,
.transparent-btns_here a:before,
.large-btns_here a:before {
  color: #333333;
}